.angled-hero-information {
  max-width: var(--max-section-width);
  padding-left: 4%;
  padding-right: 4%;
  margin: auto;
}

.angled-hero-information > div:first-child {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.angled-hero-information > div:last-child {
  display: flex;
  position: relative;
}

.angled-hero-information > div:last-child ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-right: 50px;
  gap: 10px;
}

.angled-hero-information > div:last-child ul li:nth-child(1) picture {
  height: 90px;
}

.angled-hero-information > div:last-child ul li:nth-child(2) {
  background-color: var(--brand-green);
  color: #fff;
  font-weight: 600;
  border-radius: 100%;
  padding: 4px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.angled-hero-information > div:last-child ul li:nth-child(3) {
  font-size: 0.98rem;
}

.angled-hero-information > div:last-child > div {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

.angled-hero-information > div:last-child > div > p {
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  padding: 0;
  margin: 0;
}

.angled-hero-information > div:last-child > div:nth-child(even) {
  margin-left: -10px;
}

.angled-hero-information > div:last-child > div:nth-child(odd) {
  z-index: 9;
}
.angled-hero-information > div:last-child > div:nth-child(odd) > p {
  background-color: var(--brand-gray-4);
}

.angled-hero-information > div:last-child > div:last-child {
  background-color: var(--brand-gray-4);
}

.angled-hero-information > div:last-child > div > p picture,
.angled-hero-information > div:last-child > div > p picture img {
  min-height: 350px;
}

.angled-hero-information picture,
.angled-hero-information picture img {
  display: block;
  height: 100%;
  width: 100%;
}
