.columns > div {
  display: flex;
  flex-direction: column;
  padding-left: var(--base-padding-left);
  padding-right: var(--base-padding-right);
  margin: auto;
  max-width: var(--max-section-width);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.hospitalization-risk-statistics.block.columns-2-cols
  > div
  > div:last-child {
  margin: auto;
  text-align: center;
}

.hospitalization-risk-statistics table {
  margin: auto;
}

.hospitalization-risk-statistics p {
  margin: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
