.columns > div {
  display: flex;
  flex-direction: column;
  padding-left: var(--base-padding-left);
  padding-right: var(--base-padding-right);
  margin: auto;
  max-width: var(--max-section-width);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.hospitalization-risk-statistics.block.columns-2-cols
  > div
  > div:last-child {
  margin: auto;
  text-align: center;
}

.hospitalization-risk-statistics table {
  margin: auto;
}

.hospitalization-risk-statistics p {
  margin: 0;
}

.share-your-story > div {
  display: flex;
  gap: 30px;
}

.share-your-story > div > div:first-child {
  margin-top: 4%;
}

.share-your-story > div > div:first-child h2,
.share-your-story > div > div:first-child p {
  margin: 0;
}

.share-your-story > div .columns-img-col {
  order: 1;
}

.share-your-story table tr {
  display: flex;
}

.share-your-story table tr td:not(:first-child) {
  margin-left: -50px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width >= 400px) {
  .share-your-story h2 {
    font-size: var(--font-size-sm);
    color: var(--brand-green-2);
  }

  .share-your-story p {
    font-size: var(--font-size-xs);
  }
}

@media (width >= 375px) {
  .share-your-story h2 {
    font-size: var(--font-size-sm);
  }

  .share-your-story p {
    font-size: var(--font-size-xs);
  }
}

@media (width >= 320px) {
  .share-your-story h2 {
    font-size: var(--font-size-sm);
  }

  .share-your-story p {
    font-size: var(--font-size-xs);
  }
}
