.language-selector {
  width: fit-content;
  z-index: 99999;
}

.language-selector ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.language-selector ul li,
.language-selector ul li a {
  text-decoration: none;
}

.language-selector ul li {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--brand-purple);
  font-weight: 600;
}

.language-selector ul li picture:first-child,
.language-selector ul li picture:first-child img {
  display: block;
  width: 16px;
  height: 16px;
}

.language-selector ul li picture:nth-child(2) {
  width: 14px;
  height: 8px;
  display: flex;
}

.language-selector ul li ul {
  display: none;
  position: absolute;
  top: 26px;
  left: 20px;
}
