header {
  min-height: 135px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-section-width);
  margin: auto;
  position: relative;
}

header nav p {
  margin: 0;
}

header nav .desktop-header-logo-wrapper > div picture {
  display: block;
  max-width: 284px;
  max-height: 36px;
}

header nav .desktop-header-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9;
}

header nav .desktop-header-nav-wrapper ul {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

header nav .desktop-header-nav-wrapper ul a {
  text-decoration: none;
}

header nav .desktop-header-nav-wrapper ul li:first-child {
  font-size: 16px;
  color: var(--brand-purple);
  text-decoration: underline;
  font-weight: 600;
}

header nav .desktop-header-nav-wrapper ul li:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 6px;
}

header nav .desktop-header-nav-wrapper ul li:nth-child(2) a {
  text-decoration: none;
  height: 27px;
  width: 27px;
}

header nav .desktop-header-nav-wrapper ul li:nth-child(2) a picture img {
  height: 27px;
  width: 27px;
  display: block;
  object-fit: cover;
}

/* Mobile Navigation */
header nav .mobile-header-logo-wrapper,
header nav .mobile-header-nav-wrapper {
  padding-top: 16px;
}

header nav .mobile-header-nav-wrapper {
  place-self: start;
}

header nav .mobile-header-logo-wrapper picture,
header nav .mobile-header-logo-wrapper picture img {
  display: block;
  max-width: 262px;
  max-height: 33px;
  width: 100%;
  height: 100%;
}

header nav .mobile-header-logo-wrapper .default-content-wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

header nav .mobile-header-logo-wrapper .default-content-wrapper p {
  font-size: 14px;
  color: var(--brand-purple);
  text-decoration: underline;
  font-weight: 500;
}

header nav .mobile-header-logo-wrapper .default-content-wrapper p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 4px;
}

header
  nav
  .mobile-header-logo-wrapper
  .default-content-wrapper
  p:nth-child(2)
  picture:last-child {
  margin-left: -8px;
}

header
  nav
  .mobile-header-logo-wrapper
  .default-content-wrapper
  p:nth-child(2)
  picture,
header
  nav
  .mobile-header-logo-wrapper
  .default-content-wrapper
  p:nth-child(2)
  picture
  img {
  width: 12px;
  height: 6px;
}

header
  nav
  .mobile-header-logo-wrapper
  .default-content-wrapper
  p:nth-child(2)
  picture {
  rotate: 270deg;
}

header nav .mobile-header-nav-wrapper .default-content-wrapper {
  background-color: var(--brand-purple);
  padding: 4px;
  height: fit-content;
}

header nav .mobile-header-nav-wrapper .default-content-wrapper p {
  font-size: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header nav .mobile-header-nav-wrapper .default-content-wrapper p picture,
header nav .mobile-header-nav-wrapper .default-content-wrapper p picture img {
  width: 30px;
  height: 32px;
}

header nav .mobile-header-nav-wrapper .default-content-wrapper ul {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

/* Media queries */

@media (width <= 767px) {
  header nav .desktop-header-logo-wrapper,
  .section.desktop-header-nav-wrapper {
    display: none;
  }

  .mobile-header-logo-wrapper {
    max-width: 200px;
  }

  header.header-wrapper {
    min-height: 110px;
  }
}

@media (width >= 768px) {
  header nav .mobile-header-logo-wrapper,
  header nav .mobile-header-nav-wrapper {
    display: none;
  }
}
