@media (width <= 767px) {
  header nav .desktop-header-logo-wrapper,
  .section.desktop-header-nav-wrapper {
    display: none;
  }

  .mobile-header-logo-wrapper {
    max-width: 200px;
  }
}

@media (width >= 768px) {
  header nav .mobile-header-logo-wrapper,
  header nav .mobile-header-nav-wrapper {
    display: none;
  }
}
