.information-hero {
  padding: 16px;
  margin: auto;
  max-width: var(--max-section-width);
}

.information-hero.max-width-400 {
  max-width: 400px;
}

.information-hero.max-width-800 {
  max-width: 800px;
}

.information-hero ul {
  max-width: 900px;
  margin: auto;
}

.information-hero ul,
.information-hero ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
}

.information-hero ul li:first-child {
  font-weight: 600;
}

.information-hero ul li picture,
.information-hero ul li picture img {
  display: block;
  height: 12px;
  width: 12px;
}

.information-hero.align-center ul {
  text-align: center;
  justify-content: center;
}

@media (width <= 768px) {
  .information-hero ul,
  .information-hero ul li {
    text-align: left;
  }

  .information-hero ul {
    justify-content: left;
    padding: 14px;
  }
}

@media (width <= 425px) {
  .information-hero ul li,
  .information-hero a {
    font-size: var(--font-size-xs);
  }
}
