.simple-absolute-description-and-image-hero > div {
  max-width: var(--max-section-width);
  padding-left: var(--base-spacing);
  padding-right: var(--base-spacing);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.simple-absolute-description-and-image-hero > div > div:first-child {
  position: absolute;
  padding-left: var(--base-spacing);
  max-width: 400px;
}

.simple-absolute-description-and-image-hero h3 {
  font-size: var(--font-size-lg);
  margin: 0;
  line-height: normal;
  color: inherit;
}

.simple-absolute-description-and-image-hero p {
  font-size: var(--font-size-xxs);
  margin: 0;
  width: 100%;
}

.simple-absolute-description-and-image-hero img {
  width: 100%;
  display: block;
}

.simple-absolute-description-and-image-hero
  > div
  > div:last-child
  p:last-child {
  display: none;
}

.color-green h3 {
  color: var(--brand-green-2);
}

@media (width <= 425px) {
  .simple-absolute-description-and-image-hero > div {
    min-height: 300px;
    height: 100%;
  }

  .simple-absolute-description-and-image-hero > div > div {
    height: 100%;
    width: 100%;
  }

  .simple-absolute-description-and-image-hero > div > div:first-child {
    top: var(--base-spacing);
    max-width: 250px;
  }

  .simple-absolute-description-and-image-hero p:first-child {
    display: none;
  }
  .simple-absolute-description-and-image-hero
    > div
    > div:last-child
    p:last-child {
    display: block;
  }
}
