.homepage-hero-section {
  position: relative;
}

.homepage-hero-section.block > div:first-child {
  display: flex;
  position: relative;
  max-width: 1118px;
  margin: auto;
  padding-left: 4%;
  padding-right: 4%;
  max-height: 60vh;
  height: 100%;
  overflow: hidden;
}

.homepage-hero-section.block > div > div:first-child {
  position: absolute;
  z-index: 99;
  left: 10%;
  top: 8%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.homepage-hero-section.block > div > div:first-child h1 {
  color: var(--brand-purple);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  line-height: normal;
  max-width: 250px;
}

.homepage-hero-section.block > div > div:first-child p {
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  max-width: 200px;
}

.homepage-hero-section.block > div:first-child > div:last-child {
  z-index: 0;
  width: 100%;
  max-height: 550px;
}

.homepage-hero-section.block > div:first-child > div:last-child > ul {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  height: 100%;
  max-height: 550px;
}

.homepage-hero-section.block > div:first-child > div:last-child > ul > li {
  height: 100%;
  max-height: 550px;
}

.homepage-hero-section.block
  > div:first-child
  > div:last-child
  > ul
  > li
  > picture,
.homepage-hero-section.block
  > div:first-child
  > div:last-child
  > ul
  > li
  > picture
  img {
  height: 100%;
  display: block;
  height: 550px;
}

.homepage-hero-section.block
  > div:first-child
  > div:last-child
  > ul
  > li
  > picture
  img {
  width: 100%;
  object-fit: cover;
}

.homepage-hero-section.block > div:first-child > div:last-child ul li ul {
  font-size: 1rem;
  color: #fff;
  padding: 9px 12px;
  background-color: rgb(30 30 30 / 70%);
  font-weight: normal;
  text-align: center;
  width: fit-content;
  position: relative;
  top: -130px;
  float: right;
}

.homepage-hero-section-slider-nav-button-wrapper {
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 40px;
}

.homepage-hero-section-slider-nav-button {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: 1px solid #000;
  cursor: pointer;
}

.homepage-hero-section-slider-nav-button.active {
  background-color: var(--brand-gray-2);
}

.homepage-hero-section-slider-nav-button.inactive {
  background-color: #fff;
}

.homepage-hero-section.block > div > div:nth-child(2) > ul > li {
  display: none;
}

.homepage-hero-section.block > div > div:nth-child(2) > ul > li.active {
  display: block;
}

/* Queries */
@media (width >= 767px) {
  .homepage-hero-section.block > div > div:first-child h1 {
    font-size: 2.5rem !important;
    max-width: 485px !important;
  }

  .homepage-hero-section.block > div > div:first-child p {
    font-size: 1.15rem !important;
    max-width: 330px !important;
  }
}

@media (width <= 768px) {
  .homepage-hero-section.block > div > div:nth-child(2) ul li ul {
    display: none;
  }

  .homepage-hero-section.block > div > div:first-child {
    top: 5%;
    left: 4%;
  }

  .homepage-hero-section.block
    > div:first-child
    > div:last-child
    > ul
    > li
    > picture,
  .homepage-hero-section.block
    > div:first-child
    > div:last-child
    > ul
    > li
    > picture
    img {
    height: 100%;
    display: block;
    height: 400px;
  }

  .homepage-hero-section-slider-nav-button {
    height: 18px;
    width: 18px;
  }
}

@media (width <= 500px) {
  .homepage-hero-section.block > div:first-child {
    padding-right: 0;
  }

  .homepage-hero-section.block > div > div:first-child p:nth-child(3) {
    display: none;
  }

  .homepage-hero-section-container {
    border-top: 2px solid var(--brand-purple);
  }

  .homepage-hero-section.block
    > div:first-child
    > div:last-child
    > ul
    > li
    > picture,
  .homepage-hero-section.block
    > div:first-child
    > div:last-child
    > ul
    > li
    > picture
    img {
    height: 100%;
    display: block;
    height: 210px;
  }
}
